<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCorrectoIncorrecto</servlet-name>
        <servlet-class>PaqueteServlet.LoginCorrectoIncorrecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readQuestions</servlet-name>
        <servlet-class>PaqueteServlet.readQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VistaP</servlet-name>
        <servlet-class>PaqueteServlet.VistaP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarP</servlet-name>
        <servlet-class>PaqueteServlet.EditarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarP</servlet-name>
        <servlet-class>PaqueteServlet.EliminarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectorPreguntas</servlet-name>
        <servlet-class>PaqueteServlet.LectorPreguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteP</servlet-name>
        <servlet-class>PaqueteServlet.WriteP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectorPregunta</servlet-name>
        <servlet-class>PaqueteServlet.LectorPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Archivos</servlet-name>
        <servlet-class>PaqueteServlet.Archivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verExamen</servlet-name>
        <servlet-class>PaqueteServlet.verExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verE</servlet-name>
        <servlet-class>PaqueteServlet.verE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarE</servlet-name>
        <servlet-class>PaqueteServlet.EditarE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteE</servlet-name>
        <servlet-class>PaqueteServlet.WriteE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectorExamen</servlet-name>
        <servlet-class>PaqueteServlet.LectorExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoE</servlet-name>
        <servlet-class>NuevoE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoEx</servlet-name>
        <servlet-class>PaqueteServlet.NuevoEx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarE</servlet-name>
        <servlet-class>PaqueteServlet.EliminarE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VistaP2</servlet-name>
        <servlet-class>PaqueteServlet.VistaP2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCorrectoIncorrecto</servlet-name>
        <url-pattern>/LoginCorrectoIncorrecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readQuestions</servlet-name>
        <url-pattern>/readQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VistaP</servlet-name>
        <url-pattern>/VistaP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarP</servlet-name>
        <url-pattern>/EditarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarP</servlet-name>
        <url-pattern>/EliminarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectorPreguntas</servlet-name>
        <url-pattern>/LectorPreguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteP</servlet-name>
        <url-pattern>/WriteP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectorPregunta</servlet-name>
        <url-pattern>/LectorPregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Archivos</servlet-name>
        <url-pattern>/Archivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verExamen</servlet-name>
        <url-pattern>/verExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verE</servlet-name>
        <url-pattern>/verE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarE</servlet-name>
        <url-pattern>/EditarE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteE</servlet-name>
        <url-pattern>/WriteE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectorExamen</servlet-name>
        <url-pattern>/LectorExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoE</servlet-name>
        <url-pattern>/NuevoE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoEx</servlet-name>
        <url-pattern>/NuevoEx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarE</servlet-name>
        <url-pattern>/EliminarE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VistaP2</servlet-name>
        <url-pattern>/VistaP2</url-pattern>
    </servlet-mapping>
</web-app>
